{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/1.jpg)' %};">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">Building Softwares That Gets Your School Working Smartly</h2>
                <p data-animation="fadeInUp" data-delay="300ms">As an Upcoming Software innovator, Deinmo is open explore exciting new opportunities for developing educational applications for Creche, Nursery, Primary, Secondary and Universities. Contact us to find out what we have to
                  offer you.</p>
                <div class="welcome-btn-group">
                  <a href="#" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="500ms">Get Started</a>
                  <a href="#" class="btn dento-btn mx-2 active" data-animation="fadeInUp" data-delay="700ms">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/2.jpg)' %};">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="100ms">We Believe Everyone Should Have Easy Access To Smart Software</h2>
                <p data-animation="fadeInDown" data-delay="300ms">As an Upcoming Software innovator, Deinmo is open explore exciting new opportunities for developing educational applications for Creche, Nursery, Primary, Secondary and Universities. Contact us to find out what we have to
                  offer you.</p>
                <div class="welcome-btn-group">
                  <a href="#" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="500ms">Get Started</a>
                  <a href="#" class="btn dento-btn mx-2 active" data-animation="fadeInDown" data-delay="700ms">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ****** About Us Area Start ******* -->

  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <h3>Check Out Our New App!!</h3>
            <img src="{% static 'website/img/bg-img/deinmo.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>About Us</h2>
              <div class="line"></div>
            </div>
            <p>As software developers we strive to offer practical services that reflects the realities of human problems
            in real time from automating school administration system to equipping kids and adults with unique programming
            abilities that will have the impact of boosting Africa's digital economy. More than ever, we take great pride in ensuring
            our clients/customers get maximum satisfaction from using our services. It is for this reason, we provide all our services free
            for a month to enable clients test our commitment and build trust in us. We like you to try us today!</p>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Experience Developers</h6>
              <div id="bar1" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="80"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Modern Digital Packages</h6>
              <div id="bar2" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="65"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Friendly Staff</h6>
              <div id="bar3" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="85"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">10</span></h2>
            <h5>Years Of Experience</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">120</span>+</h2>
            <h5>Happy Clients</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">102</span></h2>
            <h5>Certificate</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="counter">40</span>+</h2>
            <h5>Developers</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- Dento Service Area Start -->
  <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/13.jpg' %}');">
    <div class="container">
      <div class="row align-items-center">
        <!-- Service Content -->
        <div class="col-12 col-lg-6">
          <div class="service-content mb-30">
            <!-- Section Heading -->
            <div class="section-heading white">
              <h2>Our Services</h2>
              <div class="line"></div>
            </div>

            <div class="row">
              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s1.png' %}" alt="">
                  <h6>Software Development</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s2.png' %}" alt="">
                  <h6>Adults Programming Trainings</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s3.png' %}" alt="">
                  <h6>Website Designs</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s4.png' %}" alt="">
                  <h6>Desktop Applications</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s5.png' %}" alt="">
                  <h6>Graphics Designs</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s1.png' %}" alt="">
                  <h6>Kids Programming Trainings</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Video Area -->
        <div class="col-12 col-lg-6">
          <div class="dento-video-area mb-100">
            <iframe width="560" height="315" src="https://drive.google.com/file/d/1jnkcQ7U6aQv_KV-PSLK-vQ3pDd_A-pCl/view?usp=sharing"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dento Service Area End -->

  <!-- Dento Pricing Table Area Start -->
  <section class="dento-pricing-table-area section-padding-100">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Pricing</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Service Names</th>
                  <th scope="col">Days/Week</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Software Installations/Launching</th>
                  <td>-</td>
                  <td>₦1000</td>
                </tr>
                <tr>
                  <th scope="row">Software Upgrade</th>
                  <td>-</td>
                  <td>₦1000</td>
                </tr>
                <tr>
                  <th scope="row">Maintenance Cost</th>
                  <td>annual</td>
                  <td>₦1000</td>
                </tr>
                <tr>
                  <th scope="row">Adult Beginners Programming Trainings</th>
                  <td>2 times</td>
                  <td>₦2000</td>
                </tr>
                <tr>
                  <th scope="row">Adult Advanced Programming Trainings</th>
                  <td>2 times</td>
                  <td>₦3000</td>
                </tr>
                <tr>
                  <th scope="row">Kids Programming Trainings</th>
                  <td>3 times</td>
                  <td>₦1000</td>
                </tr>
                <tr>
                  <th scope="row">Website Development Trainings</th>
                  <td>3 times</td>
                  <td>₦3000</td>
                </tr>
                <tr>
                  <th scope="row">Database Management System Engineering</th>
                  <td>2 times</td>
                  <td>₦3000</td>
                </tr>
                <tr>
                  <th scope="row">App Development Training</th>
                  <td>2 times</td>
                  <td>₦3000</td>
                </tr>
                <!--
                <tr>
                  <th scope="row">Programming Language Training</th>
                  <td>3 times</td>
                  <td>₦2000</td>
                </tr>
                <tr>
                  <th scope="row">Covering the recession of the gums</th>
                  <td>1 times</td>
                  <td>$400.00</td>
                </tr>
                <tr>
                  <th scope="row">Consultation, impressions and preparation of models</th>
                  <td>1 times</td>
                  <td>$35.00</td>
                </tr>
                <tr>
                  <th scope="row">Removal of an old inlay, old crown</th>
                  <td>1 times</td>
                  <td>$99.00</td>
                </tr>
                <tr>
                  <th scope="row">Overlay teeth whitening ( 2 arches)</th>
                  <td>1 times</td>
                  <td>$170.00</td>
                </tr>
                <tr>
                  <th scope="row">Standard porcelain and zirconium crown on implant</th>
                  <td>1 tooth</td>
                  <td>$499.00</td>
                </tr>
                <tr>
                  <th scope="row">Implantation of an implant (price depends on system used)</th>
                  <td>1 tooth</td>
                  <td>$600.00</td>
                </tr>
                <tr>
                  <th scope="row">Covering the recession of the gums</th>
                  <td>1 times</td>
                  <td>$400.00</td>
                </tr>
                <tr>
                  <th scope="row">Consultation, impressions and preparation of models</th>
                  <td>1 times</td>
                  <td>$35.00</td>
                </tr>
                <tr>
                  <th scope="row">Removal of an old inlay, old crown</th>
                  <td>1 times</td>
                  <td>$99.00</td>
                </tr>
                <tr>
                  <th scope="row">Overlay teeth whitening ( 2 arches)</th>
                  <td>1 times</td>
                  <td>$170.00</td>
                </tr>
                <tr>
                  <th scope="row">Standard porcelain and zirconium crown on implant</th>
                  <td>1 tooth</td>
                  <td>$499.00</td>
                </tr>
                <tr>
                  <th scope="row">Implantation of an implant (price depends on system used)</th>
                  <td>1 tooth</td>
                  <td>$600.00</td>
                </tr>
                -->
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="more-btn text-center mt-50">
            <a href="#" class="btn dento-btn">Read More <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dento Pricing Table Area End -->

  <!-- Book An Oppointment Area Start -->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('img/bg-img/12.jpg');">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Book An Apointment</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Appointment Form -->
          <div class="appointment-form">
            <form action="{% url 'appointment' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-name" class="form-control" placeholder="Your Name" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-phone" class="form-control" placeholder="Your Phone" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="email" name="your-email" class="form-control" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-address" class="form-control" placeholder="Your Address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-schedule" class="form-control">
                      <option value="First Choice Appointment">First Choice Appointment</option>
                      <option value="9 AM to 10 AM">9 AM to 10 AM</option>
                      <option value="11 AM to 12 PM">11 AM to 12 PM</option>
                      <option value="2 PM to 4 PM">2 PM to 4 PM</option>
                      <option value="8 PM to 10 PM">8 PM to 10 PM</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-date" class="form-control">
                      <option value="Choose Your Date">Choose Your Date</option>
                      <option value="Monday">Monday</option>
                      <option value="Tuesday">Tuesday</option>
                      <option value="Wednesday">Wednesday</option>
                      <option value="Thursday">Thursday</option>
                      <option value="Friday">Friday</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-30">
                    <textarea name="your-message" class="form-control" placeholder="Your Message"></textarea>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">Booking Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Book An Oppointment Area End -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Meet Our Team</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/CEOi.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
               <!-- Dentist Info -->
              <!--
              <div class="dentist-info bg-gradient-overlay">
                <h5>Hannah Oforibo Preye</h5>
                <p>Customer Care Agent</p>
              </div>
              -->
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/Deinm.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Deinmodei Water-Way</h5>
                <p>CEO</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/CEOi.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- Dentist Info -->
              <!--
              <div class="dentist-info bg-gradient-overlay">
                <h5>Hannah Oforibo Preye</h5>
                <p>Customer Care Agent</p>
              </div>
              -->
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/Kando.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Koto Andrew Omiloli</h5>
                <p>Editor</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/Hannah.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Hannah Oforibo Preye</h5>
                <p>Customer Care Agent</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/Unique1.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Unique Moses</h5>
                <p>Chief Marketer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'websiteimg/bg-img/7.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/ebizimo.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>As one who is both a teacher and a pastor, the Deimmo App/Software for creche, nursery, primary and secondary schools have had enormous success in students' result delivery,
                  passing out information to parents/guardians, monitoring students' performance, computing results. Infact everything from scratch to finish in school administration
                  is inbuilt in the application. The fact that the software is offline even made it more handy and less complex for my staff to use.
                  I highly recommend their services.</h5>
                <h6>Pst. Ebizimo P</h6>
                <p>Client</p>
              </div>
            </div>

             <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/bibonew.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>Wow. I rate deinmo software app developers 99.99999%. As a PhD researcher, I have required their services in implementing crucial software related works involving
                  matlab, python, and data base services. In every task assigned to them, they perform like they are Europeans considering the constant feedback they give and efficient results they deliver.
                  Carry go o, Deinmo Team!</h5>
                <h6>Engr. Bibobra Ikporo</h6>
                <p>Phd</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/sapnew.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>Sincerely, I can't begin to sum up the benefits the deinmo software app has given to me personally as a lecturer, particularly the "70%
                  attendance recognition and verification software". As a lecturer in the department of Electrical and Electronic Engineering, the app has been immensely useful, as
                  I have been able to automatically and swiftly taken accurate and secured attendance for my students thereby eliminating the stress in taking
                  pen-paper manual attendance system. All thanks to DeinmoAppSoftware.</h5>
                <h6>Engr. Ebipuado Sapre-Obi</h6>
                <p>Lecturer</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/precious1.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>We know how the oil industry in the 21st century is connected to the digital world. Mordern day oil and gas equipment require some sort of embedded software algorithms with suitable control to drive systems.
                  In retrospect to our past collaborations, I recommend deinmo team's services to any one who is willing to learn and apply the language of software in solving real world problems from art to engineering and all
                  other spheres of the human experience that requires software automation and control.</h5>
                <h6>Engr. Precious Itutumanziba</h6>
                <p>Client</p>
              </div>
            </div>


            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/ayibanew.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>When I saw the website while surfing the net, I was doubtfull at first in trying out their web training programme. But after giving it a try, I was glad I finally did. Initially, I was zero in
                  the use of java, c++ and python languages. I couldn't even code a simple print out statement. My grades were dropping and so I had to find alternative learining platforms to see if that could
                  boost my knowledge and grades in computer programming. And yes it did, after completing
                  he training, I was able to score distinctions in the subsequent programming courses I took while in the university. The classes were fun and exciting, so many dedicated tutors and real life examples to get you
                  acquainted with the programming world. Please subscribe to their training package. You won't regret it!</h5>
                <h6>Alexis Stephen</h6>
                <p>Student</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Check Out Our New Apps</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/TestimonialContent.txt' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Quick Employee Verification System</a>
              <p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="{% static 'website/img/bg-img/TestimonialContent.txt' %}"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>


        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">

            <!-- Blog Content -->
            <div class="blog-content">
              <object data="DEINMO_APP_DESCRIPTIO_converted.pdf" type="application/pdf" width="100%" height="100%">
                  <p> <a href="{% static 'website/img/bg-img/DEINMO_APP_DESCRIPTIO_converted.pdf' %}"><h5>NDU Radio Station Expense Report Generator</h5></a></p>
                </object>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">

            <!-- Blog Content -->
            <div class="blog-content">
              <object data="DEINMO_APP_DESCRIPTIO_converted.pdf" type="application/pdf" width="100%" height="100%">
                  <p> <a href="{% static 'website/img/bg-img/DEINMO_APP_DESCRIPTIO_converted.pdf' %}"><h5>Deinmo App/Software For Creche, Nursery, Primary, Secondary and Universities</h5></a></p>
                </object>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/TestimonialContent.txt' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">70% Attendance Recognition and Management Software <h5>(For Colleges and Universities)</h5> </a>
              <p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/TestimonialContent.txt' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Matriculation Number Generator App</a>
              <p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/TestimonialContent.txt' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Smart Attendance Payroll System For Private and Government Organisations</a>
              <p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->

{% endblock %}