{% extends 'base.html' %}
{% load static %}

{% block content %}


  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Service</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Service</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Software Development</h5>
            <p>We design, program, document, test and bug fix applications, frameworks or other software components.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s7.png' %}" alt="">
            </div>
            <h5>Adults Programming Trainings</h5>
            <p>We teach adults in tertiary institutions programming languages both for beginners and advanced learners like MATLAB, object oriented
              programming languages: Python, Java and C#. This course is also meant for those individuals who wants to build projects either for academic or professional reasons. </p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s8.png' %}" alt="">
            </div>
            <h5>Website Designs</h5>
            <p>We teach front end and back end web development. Examples HTML, CSS, JavaScript, PHP, MySQL etc</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s9.png' %}" alt="">
            </div>
            <h5>Desktop Applications</h5>
            <p>We build desktop applications for schools including universities, offices and industries.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s10.png' %}" alt="">
            </div>
            <h5>Kids Programming Trainings</h5>
            <p>We teach kids in primary and secondary schools basic and fun programming languages like python for beginners to intermediate, C for dummies and 2D game programming.</p>
            </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
              <h5>Graphics Designs</h5>
            <p>We design flyers, ID-cards, stickers, wedding cards, business cards etc.</p>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

   <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'websiteimg/bg-img/7.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/ebizimo.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>As one who is both a teacher and a pastor, the Deimmo App/Software for creche, nursery, primary and secondary schools have had enormous success in students' result delivery,
                  passing out information to parents/guardians, monitoring students' performance, computing results. Infact everything from scratch to finish in school administration
                  is inbuilt in the application. The fact that the software is offline even made it more handy and less complex for my staff to use.
                  I highly recommend their services.</h5>
                <h6>Pst. Ebizimo P</h6>
                <p>Client</p>
              </div>
            </div>

             <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/bibonew.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>Wow. I rate deinmo software app developers 99.99999%. As a PhD researcher, I have required their services in implementing crucial software related works involving
                  matlab, python, and data base services. In every task assigned to them, they perform like they are Europeans considering the constant feedback they give and efficient results they deliver.
                  Carry go o, Deinmo Team!</h5>
                <h6>Engr. Bibobra Ikporo</h6>
                <p>Phd</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/sap.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>Sincerely, I can't begin to sum up the benefits the deinmo software app has given to me personally as a lecturer, particularly the "70%
                  attendance recognition and verification software". As a lecturer in the department of Electrical and Electronic Engineering, the app has been immensely useful, as
                  I have been able to automatically and swiftly taken accurate and secured attendance for my students thereby eliminating the stress in taking
                  pen-paper manual attendance system. All thanks to DeinmoAppSoftware.</h5>
                <h6>Engr. Ebipuado Sapre-Obi</h6>
                <p>Lecturer</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/precious1.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>We know how the oil industry in the 21st century is connected to the digital world. Mordern day oil and gas equipment require some sort of embedded software algorithms with suitable control to drive systems.
                  In retrospect to our past collaborations, I recommend deinmo team's services to any one who is willing to learn and apply the language of software in solving real world problems from art to engineering and all
                  other spheres of the human experience that requires software automation and control.</h5>
                <h6>Engr. Precious Itutumanziba</h6>
                <p>Client</p>
              </div>
            </div>


            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/ayibanew.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>When I saw the website while surfing the net, I was doubtfull at first in trying out their web training programme. But after giving it a try, I was glad I finally did. Initially, I was zero in
                  the use of java, c++ and python languages. I couldn't even code a simple print out statement. My grades were dropping and so I had to find alternative learining platforms to see if that could
                  boost my knowledge and grades in computer programming. And yes it did, after completing
                  he training, I was able to score distinctions in the subsequent programming courses I took while in the university. The classes were fun and exciting, so many dedicated tutors and real life examples to get you
                  acquainted with the programming world. Please subscribe to their training package. You won't regret it!</h5>
                <h6>Alexis Stephen</h6>
                <p>Student</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Check Out Our New Apps</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/TestimonialContent.txt' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Quick Employee Verification System</a>
              <p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="{% static 'website/img/bg-img/TestimonialContent.txt' %}"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>


        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">

            <!-- Blog Content -->
            <div class="blog-content">
              <object data="DEINMO_APP_DESCRIPTIO_converted.pdf" type="application/pdf" width="100%" height="100%">
                  <p> <a href="{% static 'website/img/bg-img/DEINMO_APP_DESCRIPTIO_converted.pdf' %}"><h5>NDU Radio Station Expense Report Generator</h5></a></p>
                </object>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">

            <!-- Blog Content -->
            <div class="blog-content">
              <object data="DEINMO_APP_DESCRIPTIO_converted.pdf" type="application/pdf" width="100%" height="100%">
                  <p> <a href="{% static 'website/img/bg-img/DEINMO_APP_DESCRIPTIO_converted.pdf' %}"><h5>Deinmo App/Software For Creche, Nursery, Primary, Secondary and Universities</h5></a></p>
                </object>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/TestimonialContent.txt' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">70% Attendance Recognition and Management Software <h5>(For Colleges and Universities)</h5> </a>
              <p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/TestimonialContent.txt' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Matriculation Number Generator App</a>
              <p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/TestimonialContent.txt' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Smart Attendance Payroll System For Private and Government Organisations</a>
              <p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->

{% endblock %}